body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font;
  background: $primary-background;
  padding-top: 60px;
}

*, :after, :before {
  box-sizing: border-box;
}

a {
  color: $link-color;

  &:hover {
    text-decoration: none;
  }
}

.Hero {
  margin-top: 5px;
  //box-shadow: 0 2px 8px rgba(0,0,0,0.3);

  .Hero__banner {
    @extend .container;
    min-height: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:before {
      content: '';
      display: block;
      padding-bottom: 37.5%;
    }
  }
}

.Main {
  padding: 2.5em 0;
  margin: .25em 0;
}

.Panel {
  @extend .panel;
  border-radius: 5px;
  overflow: hidden;

  .Content:after, .Content:before {
    display: table;
    content: " ";
    clear: both;
  }
}

.panel--hanya {
  .panel-heading {
    border-bottom: 1px solid $link-color;
    position: relative;

    &:before {
      content: '';
      width: 25px;
      height: 25px;
      background: url("/logo.png") no-repeat center center;
      background-size: contain;
      display: inline-block;
      margin-right: 5px;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 1px;
      background: linear-gradient(to right, #fff, transparent, #fff);
    }

    .panel-title {
      display: inline;
      vertical-align: super;
    }

    .more {
      float: right;

      &:before {
        font-family: "FontAwesome";
        content: '\f101';
        font-style: normal;
        font-size: 1.3em;
        display: block;
      }
    }
  }
}

.Video {
  &.Video--full {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    iframe {
      width: 100%;
      height: 450px;
      box-shadow: 0 0 5px rgba(0,0,0,0.35);
    }
  }
}

.List {
  list-style: none;
  padding: 0;

  &.List--bullet {
    list-style-type: circle;
    padding-left: 1em;
  }

  &.List--filled {
    list-style-type: inherit;
    padding-left: 1em;
  }

  &.List--big {
    li {
      margin: 1.2em 0 !important;
    }
  }

  &.List--fancy {
    li {
      margin: 1.5em .5em !important;

      &:before {
        content: '> ';
        margin-right: 4px;
      }
    }
  }

  li {
    margin: .8em 0;

    &:first-of-type {
      margin-top: 0 !important;
    }

    time {
      float: right;
      color: #9f9f9f;
    }
  }
}

.Teacher {
  display: block;
  text-align: center;
  outline: none;

  .Teacher__avatar {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 145px;
    margin: .7em 0;
  }

  .Teacher__name {
    font-weight: 500;
    line-height: 35px;
  }
}

.Left {
  @extend .col-md-3, .col-sm-2;
  z-index: 999;
}

.Right {
  @extend .col-md-9, .col-sm-10;
}

.no-breadcrumb .Breadcrumb {
  display: none !important;
}

.Breadcrumb {
  @extend .breadcrumb;
  padding: 1em;
  margin: 20px 0;
  background: #FFF;

  &:before {
    content: '>';
    color: #ccc;
    margin-right: 8px;
  }
  
  &:after {
    content: '';
    width: 95%;
    left: 2.5%;
    bottom: -15px;
    display: block;
    position: relative;
    border-bottom: 1px dashed rgba(0,0,0,.25);
  }

  li {
    color: #ccc;
    font-size: 1.15em;
    font-weight: 400;

    a {
      color: rgba($link-color, .6);
    }

    &.active {
      color: #ccc !important;
    }
  }
}

.pagination {
  span, a {
    font-weight: 500;
  }

  > :not(.active) > span, a {
    background: $secondary-background !important;
    color: $link-color !important;
  }

  > .active > span {
    background: $link-color !important;
    border-color: $link-color !important;
  }

  > li > a, > li > span {
    border: none !important;
  }
}