/*
 * Font
*/
$font: "Avenir Next", "PingFang SC", "Helvetica Neue", "微软雅黑", "Microsoft Yahei", sans-serif;

/*
 * Colors
*/
$primary-color:        #E0FEBE;
$link-color:           #A62A2A;
$link-hover:           #620B33;
//$nav-bg:               #790e3f;
$nav-bg:               rgb(194,14,34);
$primary-background:   #F4FEF9;
$secondary-background: #EAFAF5;
$font-color:           #1C2A22;
$wechat-color:         rgb(48, 170, 26);
$weibo-color:          rgb(239, 78, 78);
$qq-color:             rgb(7, 171, 221);

// Pixels
$banner-height:       450px;
$admin-sidebar-width: 220px;